<!DOCTYPE html>
<html>
<head>
    <title>Games in your area</title>
    {{#css}}
        <link rel="StyleSheet" href="{{css}}"/>
    {{/css}}
</head>

<body>
<h1>Games</h1>
<ul>
    {{#games}}
    <li>{{name}}</li>
    {{/games}}
</ul>
    {{#js}}
        <script src="{{js}}"></script>
    {{/js}}
</body>
</html>