{{#addCss}}style.css, 960-grid.css{{/addCss}}
{{#addJs}}jquery.min.js{{/addJs}}
{{#addClientTemplate}}blah, blah2{{/addClientTemplate}}
{{#addClientTemplate}}blah3, blah4{{/addClientTemplate}}
{{#setTitle}}Games in your area{{/setTitle}}

{{>header.mustache}}
<h1>Games</h1>
<ul>
    {{#games}}
    <li>{{name}}</li>
    {{/games}}
</ul>
{{>footer.mustache}}