<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{{title}}</title>
    {{#css}}
        <link rel="StyleSheet" href="{{css}}"/>
    {{/css}}
    {{#clientTemplates}}
        <link rel="template" id="{{id}}" href="{{url}}"/>
    {{/clientTemplates}}
</head>
<body>