<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Sub Rosa Gaming Platform</display-name>
    <description>Web interface for games on the Sub Rosa platform.</description>

    <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!-- Handles all requests into the application -->
    <servlet>
        <servlet-name>subrosa-v0.2</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>subrosa-v0.2</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Webutilities optimization servlets/filters follow -->
    <servlet>
        <servlet-name>JSCSSMergeServet</servlet-name>
        <servlet-class>com.googlecode.webutilities.servlets.JSCSSMergeServlet</servlet-class>
        <init-param>
            <param-name>expiresMinutes</param-name>
            <param-value>43200</param-value>
            <!-- 30 days -->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSCSSMergeServet</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>responseCacheFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.ResponseCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>responseCacheFilter</filter-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>compressionFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CompressionFilter</filter-class>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>512</param-value>
            <!--  anything above 512bytes  -->
        </init-param>
        <init-param>
            <param-name>ignoreURLPattern</param-name>
            <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>compressionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>yuiMinFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.YUIMinFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>yuiMinFilter</filter-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>force</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreURLPattern</param-name>
            <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
